bin/mdff20.x
bin/POSFF
bin/__pycache__/
bin/*.pyc

src/CONTFF
src/POSFF
src/*.o
src/control.s
src/mdff20.x
src/log
src/rx
src/OSZIFF


#Examples
examples/ex9/config/pot_mdff/*
examples/ex9/config/pot_cp2k/*
examples/ex*/cp2k/
examples/ex*/mdff/
examples/ex*/dl_poly/
